body{
    /* background: #BDBDBD; */
}

#contactForm{
    background-color: rgb(238, 238, 238);
    min-width: 700px;
}

#contactForm input{
    max-width: 700px;
    margin-left: 1rem;
}

#contactForm label{
    font-weight: 700;
}

.jumbotron{
    background-image:url('../img/bg.jpg');
    min-height: 70vh;
    background-position: bottom;
}
