<!-- your html code here -->
<div class="container">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus corporis illo ratione facere dolore ut
        tempore, vel recusandae ex beatae, cum sit nisi! Excepturi ullam, ad quisquam officiis accusantium fuga?</p>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>