<div class="row">
    <div class="col-5">
        <img src="./assets/img/2.jpg" class="rounded-circle computador" alt="...">
        
    </div>
    <div class=" col-6">
        <h2 class="linea3">The second heading is pretty cool too</h2>
        <p class="linea5">donec ullamcorper nulla non metus auctor fringilla. vestibulum id ligula porta felis euismod semper.Praesent
            commodo cursus magna, vel scelerisque nils conseteturc. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>